/*SLIDER for GITHUB */

.slider{
    position: relative;
    margin: 0 auto;
    padding: 10px;
}
.slider-content{
    position: relative;
    height: 100vh;
}
.slider-item{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s ease;
}
.slider-item.active{
    opacity: 1;
}
.slider-btn{
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.slider-btn--next{
    right: 0;
}
.slider-btn--next::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -20px;
    border: 20px solid transparent;
    border-left: 20px solid crimson;
    cursor: pointer;
}
.slider-btn--prev{
    left: 0;
}
.slider-btn--prev::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    border: 20px solid transparent;
    border-right: 20px solid crimson;
    cursor: pointer;
}
.slider-dots{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.slider-dots__item{
    width: 25px;
    height: 25px;
    list-style: none;
    border: 1px solid crimson;
    border-radius: 50%;
    background-color: crimson;
    cursor: pointer;
    transition: background-color 0.8s ease;
}
.slider-dots__item:not(:first-child){
    margin-left: 20px;
}
.slider-dots__item.active{
    background-color: transparent;
}
.slider-img{
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .slider-content{
        height: 65vh;
    }
    .slider-img{
        min-width: 400px;
    }
    .slider-btn{
        top: 45px;
        transform: translateY(0);
    }
    .slider-btn--prev {
        left: auto;
        right: 90px;
    }
}
@media screen and (max-width: 440px) {
    .slider-content {
        height: 55vh;
    }
    .slider-img {
        min-width: 300px;
    }
    .slider-dots__item {
        width: 20px;
        height: 20px;
    }
}